Für Ihr Unternehmen für Maurer- und Putzarbeiten möchten Sie die Preise, die Sie für das Verputzen von Wänden anbieten möchten, kalkulieren.

Ihr Unternehmen setzt verschiedene Materialien zum Verputzen ein. Außerdem sind unter Umständen Zusatzarbeiten erforderlich, durch die sich die Angebotspreise erhöhen.

Für die Berechnung der Preise benötigen Sie die zu verputzende Wandfläche (die sich aus der Raumhöhe und der Wandlänge ergibt), die Art des Putzes und die Zusatzarbeiten.

Dabei gilt:

{{ my.generiereauswahl("Für die {auswahlwert} berechnen Sie Kosten von {zielwert} Euro pro Quadratmeter Wandfläche.", kostenputz) }}

Für die {{ zusatzkosten[0].auswahlwert }} kalkulieren Sie je Quadratmeter Wandfläche einen Aufschlag von {{ zusatzkosten[0].zielwert }} Euro auf die Angebotspreise.
