<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout :: header(~{::title}, ~{::#content}) }">
	<head>
		<title>Config: Plausibilitäten</title>
	</head>
	<body>
		<div id="content">
			
			<div class="my-4">
				<a class="btn btn-secondary" th:href="@{/aufgabentemplate/{id}#teilaufgaben(id=${templateId})}">
					<i class="bi-box-arrow-left pe-2"></i>
					Zurück zum Aufgabentemplate
				</a>
			</div>
			
			<div class="my-4">
				<h1>Konfiguration: Plausibilitäten</h1>
			</div>
			
			<div class="my-4">
				<form class="form" action="#" method="post"
					th:action="@{/configPlausi/{id}(id=${templateId})}"
					th:object="${configPlausi}">
					<div class="mb-3">
						<label class="fw-bold" for="prozedurname">Prozedurname</label>
						<div class="text-muted">
							Standard ist "plausibilitaet_click()"
						</div>
						<input class="form-control" id="prozedurname" size="50" type="text" th:field="*{prozedurname}" />
					</div>
					<div class="mb-3">
						<label class="fw-bold" for="prozedurname">Einleitender Text für die Aufgabe</label>
						<textarea class="form-control" id="allgemeinerText" rows="4" cols="50" th:field="*{allgemeinerText}" ></textarea>
					</div>
					<div class="mb-3">
						<label class="fw-bold" for="subtypen">Subtypen</label>
						<div class="text-muted">
							In der Form <code>&lbrack;&lbrack;1,2&rbrack;,3,&lbrack;4, &rbrack;,...,&lbrack; 7 &rbrack;&rbrack;</code>
							<ol class="my-1">
								<li>Text muss in der vorgegebenen Auswahl sein</li>
								<li>Zahl muss positiv (oder 0) sein</li>
								<li>Zahl muss größer (oder gleich) sein</li>
								<li>Zahl muss kleiner (oder gleich) sein</li>
								<li>Zahl muss zwischen Werten sein</li>
								<li>Zahl muss größer (oder gleich) sein (mit Bedingung)</li>
								<li>Zahl muss kleiner (oder gleich) sein (mit Bedingung)</li>
							</ol>
						</div>
						<input class="form-control" id="subtypen" size="40" type="text" th:field="*{subtypen}" />
					</div>
					<div class="mb-3">
						<label class="fw-bold" for="spalten">Spalten für Plausiprüfungen</label>
						<div class="text-muted">
							In der Form <code>[spalte1, spalte2, ...]</code>
						</div>
						<input class="form-control" id="spalten" size="60" type="text" th:field="*{spalten}" />
					</div>
					<div class="mb-3">
						<label class="fw-bold" for="bedingungsspalten">Spalten für Bedingungen</label>
						<div class="text-muted">
							In der Form <code>[spalte1, spalte2, ...]</code>
						</div>
						<input class="form-control" id="bedingungsspalten" size="60" type="text" th:field="*{bedingungsspalten}" />
					</div>
					<input class="btn btn-success" type="submit" value="Speichern" />
				</form>
			</div>

		</div>
	</body>
</html>
