<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout :: header(~{::title}, ~{::#content}) }">
	<head>
		<title>Datenschutzerklärung</title>
	</head>
	<body>
		
		<div id="content">

			<div class="my-4">
				<h1>Datenschutzinformation gemäß Art. 13, 14 DSGVO</h1>
			</div>
			
			<!-- 
			<div class="my-4">
				<a class="btn btn-primary" th:href="@{/datenschutzbestaetigen}">
					<i class="pe-2"></i>
					Bestätigen und zur Anwendung
				</a>
			</div>
			 -->
				
<hr>
Diese Datenschutzinformation unterrichtet Sie über die Verarbeitung Ihrer persönlichen Daten. Zu Ihren persönlichen Daten gehören gem. Art. 4 Nr. 1 DSGVO alle Informationen, die sich auf Ihre Person beziehen oder beziehen lassen, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen oder zu einem Unternehmen, mit der Ihre Person identifiziert werden kann.
<hr>
<h5> Persönliche Informationen und personenbezogene Daten</h5>
Bei der Anmeldung zu und Durchführung der Lehrveranstaltung Wirtschaftsinformatik in den Studiengängen Betriebswirtschaftslehre, International Business and Management, sowie Wirtschaftsingenieurwesen Bau des Fachbereiches Wirtschaft erheben und verarbeiten wir folgende personenbezogenen Daten:
<ul>
<li>Matrikelnummer</li>
<li>Accountname</li>
<li>Vor- und Nachname</li>
<li>Matrikelnummer</li>
<li>Auf Antrag: die vom Prüfungsamt auf Grund eines Nachteilsausgleichs übermittelte prozentuale Verlängerung der Bearbeitungszeit von Aufgaben</li>
<li>Zeitstempel der Ausgabe von Aufgabenblättern</li>
<li>Zeitstempel der Abgabe von Lösungen, die Lösungen selbst und deren Bewertung</li>
<li>Freiwillige Selbsteinschätzung des Schwierigkeitsgrad von Aufgaben</li>
</ul>

Von dieser Verarbeitung sind folgende Personen betroffen:

<ul>
<li>Studierende der Hochschule Bochum</li>
<li>Professor:innen der Hochschule Bochum</li>
</ul>

<hr>
<h5> Zwecke der Erhebung und Art der Verarbeitung</h5>
Der Zweck der Verarbeitung der genannten personenbezogenen Daten dient der Durchführung der Lehrveranstaltung Wirtschaftsinformatik in den Studiengängen Betriebswirtschaftslehre, International Business and Management, sowie Wirtschaftsingenieurwesen Bau des Fachbereiches Wirtschaft nach der jeweiligen Studiengangsprüfungsordnung vom 20.12.22 (BWL), 02.07.22 (IBM) sowie 21.10.2019 (WiIng Bau) und der Rahmenprüfungsordnung für den jeweiligen Bachelor – und Masterstudiengang der Hochschule Bochum. Die Daten werden von der Hochschule Bochum aus dem Netzwerkprotokoll zur Abfrage und Änderung von Informationen verteilter Verzeichnisdienste (Lightweight Directory Access Protocol, LDAP) der Hochschule Bochum erhoben und an die die Lehrveranstaltung durchführenden Professorin oder den Professor weitergeleitet. 
<hr>
<h5> Dauer der Speicherung, Löschung</h5>
Die personenbezogenen Daten werden für die Dauer der Lehrveranstaltung durch die oder den Lehrenden des Fachbereiches Wirtschaft gespeichert und 
<ul>
<li>bei Verwendung als Vorleistung 1 Jahr nach Notenveröffentlichung</li>
<li>bei Nichtanmeldung im laufenden Semester am Ende des Semesters</li>
<li>auf eigenen Wunsch</li>
</ul>
von der oder dem Lehrenden gelöscht.
<hr>
<h5>  Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten</h5>
Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten ist Art. 6 Abs. 1 lit. e DSGVO (Wahrnehmung einer der Hochschule Bochum übertragenen Aufgabe, die im öffentlichen Interesse liegt).
<hr>
<h5> Übermittlung Ihrer personenbezogenen Daten</h5>
Eine Weiterleitung an Dritte erfolgt nicht.
<hr>
<h5> Verantwortliche Stelle für die Verarbeitung Ihrer persönlichen Daten</h5>
Die zuständige und verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung Ihrer persönlichen Daten ist die Hochschule Bochum, Bochum University of Applied Sciences, Am Hochschulcampus 1,44801 Bochum. Mitverantwortlich ist der oder die Lehrende der genannten Lehrveranstaltung. 
<hr>
<h5>  Ihre Datenschutzrechte</h5>
Sie haben ein Recht auf Auskunft über die zu Ihrer Person gespeicherten personenbezogenen Daten, über die Zwecke der Verarbeitung, über eventuelle Übermittlungen an andere Stellen und über die Dauer der Speicherung.

Zur Wahrnehmung Ihres Auskunftsrechts können Sie auch Auszüge oder Kopien erhalten. Sollten Daten unrichtig sein oder für die Zwecke, für die sie erhoben worden sind, nicht mehr erforderlich sein, können Sie die Berichtigung, Löschung oder Einschränkung der Verarbeitung verlangen. Soweit in den Verarbeitungsverfahren vorgesehen, können Sie Ihre Daten auch selbst einsehen und ggf. korrigieren.

Sollten sich aus Ihrer besonderen persönlichen Situation Gründe gegen eine Verarbeitung Ihrer personenbezogenen Daten ergeben, können Sie, soweit die Verarbeitung auf ein berechtigtes Interesse gestützt ist, dieser widersprechen. Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, er kann gesetzliche Pflichten oder zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. 
Bei Fragen zur Wahrnehmung Ihrer Rechte kontaktieren Sie bitte Ihren direkten Ansprechpartner in der Hochschule Bochum oder den Verantwortlichen für Datenschutz.
<hr>
<h5>  Beschwerden über die Verarbeitung Ihrer personenbezogenen Daten</h5>
Sollten Sie Bedenken oder eine Frage zu der Verarbeitung Ihrer personenbezogenen Daten und Informationen haben, können Sie sich an den Datenschutzbeauftragten der Hochschule Bochum wenden. Sie können sich aber auch unter den nachstehenden Kontaktdaten an die zuständige Aufsichtsbehörde für den Datenschutz 
https://www.ldi.nrw.de/
wenden.
<hr>
<h5>  Datenschutzbeauftragte/Verantwortliche für Datenschutz der Hochschule Bochum</h5>
Frau Christina Warsitz<br>
Am Hochschulcampus 1<br>
44801 Bochum<br>
Telefon: +49 (0) 234 32 10020<br>
christina.warsitz@hs-bochum.de<br>
	
</div>
	</body>
</html>