<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout :: header(~{::title}, ~{::#content}) }">
	<head>
		<title>Aufgabenblätter</title>
	</head>
	<body>

		<div id="content">
	
	<h1 class="my-4">Fehler!</h1>
	
	<h2><span th:text="${msg}"></span></h2>
	
	<h4>Gehen Sie 
	<span>zurück zu der <a class="btn btn-sm btn-primary" th:href="@{/bearbeitung}">Startseite.</a> </span>
	</h4> 
	 
				</div>
</body>
</html>
