<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout :: header(~{::title}, ~{::#content}) }">
<head>
<title>Impressum</title>
</head>
<body>

	<div id="content">

		<div class="my-4">
			<h1>Impressum gem. §5 TMG und §55 RStV</h1>
		</div>

		<p>
			Prof. Dr. Volker Klingspor <br> Hochschule Bochum<br>
			Bochum University of Applied Sciences<br> Am Hochschulcampus 1,
			D-44801 Bochum<br> Tel.: +49 (0)234 32-10632 <br> E-Mail: volker.klingspor(at)hs-bochum.de <br><br>
			Die Hochschule Bochum -&nbsp;Bochum University of Applied
			Sciences&nbsp;- ist eine Körperschaft des öffentlichen Rechts. Sie
			wird durch den&nbsp;Präsidenten gesetzlich vertreten.
		</p>
		<p>
			Zuständige Aufsichtsbehörde ist das <a href="https://www.mkw.nrw/"
				title="Öffnet einen externen Link im neuen Fenster" target="_blank"
				class="external-link" rel="noreferrer">&nbsp;Ministerium für
				Kultur und Wissenschaft</a> des Landes Nordrhein-Westfalen, Völklinger
			Straße 49, 40221 Düsseldorf.
		</p>
		<p>Umsatzsteuer-ID-Nummer: DE 127 056 614</p>
	</div>
</body>
</html>