Sub statistiken_click()
{{ my.generiereconst(konstanten_aufgabe2) }}
'    Const ERSTE_ZEILE_MIT_INFORMATIONEN As
'    Const TABELLENBLATT As
'    Const TABELLENBLATT_STATISTIK As
'
{{ my.generierevar(variablen_aufgabe2) }}
'    Dim i As Long
'    Dim letzteBesetzteZeile As Long
'
'
'
'
'
{{ my.generierestatistikueberschrift(texte_aufgabe2) }}
{{ my.generierestatistikausgabe(variablen_aufgabe2) }}
End Sub
