Sub plausibilitaet_click()
{{ my.generiereconst(spalten_konstanten_aufgabe3) }}
'    Const ERSTE_ZEILE_MIT_INFORMATIONEN As
'    Const TABELLENBLATT As
'
'    Const TABELLENBLATT_PLAUSIBILITAETEN As
'    Const SPALTE_MIT_FEHLER_INFO As
'    Const ERSTE_ZEILE_MIT_FEHLER_INFO As
'
{{ my.generiereconst(grenzen_konstanten_aufgabe3) }}
'    Dim testwert As String
'    Dim i As Long
'    Dim fehlerString As String
'    Dim fehlerArray() As String
'    Dim letzteBesetzteZeile As Long
'
'    ReDim fehlerArray(0)
'
'
'
'
'    If UBound(fehlerArray) > 0 Then
'        MsgBox ("Plausibilitätsverletzungen sind aufgetreten, ein Protokoll wird geschrieben!")
'        Call schreibeFehlerArray(fehlerArray, TABELLENBLATT_PLAUSIBILITAETEN, ERSTE_ZEILE_MIT_FEHLER_INFO, SPALTE_MIT_FEHLER_INFO)
'    Else
'        MsgBox ("Alles okay!")
'    End If
End Sub
