<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{ layout :: header(~{::title}, ~{::#content}) }">
	<head>
		<title>Datentemplate</title>
	</head>
	<body>

		<div id="content">
		
			<div class="my-4">
				<a class="btn btn-secondary" th:href="@{/datentemplate}">
					<i class="bi-box-arrow-left"></i>
					Zurück zur Übersicht
				</a>
			</div>
			
			<div class="my-4">
				<h1>
					Datentemplate:
					<span th:text="${template.name}"></span>
				</h1>
			</div>

			<div class="my-4 row">
				<div class="row col-xl">
					<form class="form" action="#" method="post"
						th:action="@{/datentemplate/{id}(id=${template.id})}"
						th:object="${template}">
						<p>
							<label class="form-label" for="id">Id</label>
							<input class="form-control-plaintext" id="id" type="text" th:field="*{id}" readonly />
						</p>
						<p>
							<label class="form-label" for="name">Name</label> 
							<input class="form-control" id="name" type="text" th:field="*{name}" />
						</p>
						<p>
							<label class="form-label" for="name">Tags</label> 
							<input class="form-control" id="name" type="text" size="60" th:field="*{tagString}" />
						</p>
						<input class="btn btn-success" type="submit" value="Speichern" />
					</form>
				</div>
				<div class="row col-xl" th:if="${template.templateSpalten != null && template.templateSpalten.size() >  0}">
					<div class="mb-3">Beispieltabelle</div>
					<iframe id="daten" width="100%" height="300" th:srcdoc="${datenHtmlCode}"></iframe>
				</div>
			</div>

			<div id="auswaehlen" class="my-4">
				<table th:if="${template.id}">
					<tr valign="bottom">
						<th>
							<div class="mb-2">Spalten</div>
						</th>
						<th>
							Spalte auswählen
							<form class="form" action="#" method="get" th:action="@{/datentemplate/{id}#auswaehlen(id=${template.id})}">
								<input class="form-control" id="filtertext" type="text" size=50 th:value="${filtertext}" name="filtertext" />
								<div class="my-2">
									<input class="btn btn-primary" type="submit" value="Filtern" />
									<a class="btn btn-primary" th:href="@{/datentemplate/{id}?filtertext#auswaehlen(id=${template.id})}">Alle anzeigen</a>
								</div>
							</form>
						</th>
				<!-- 
						<th>(es werden nur Spalten mit überschneidenden Tags oder #allgemein angezeigt)</th>
				 -->
					</tr>
					<tr valign="top">
						<td>
							<table class="table table-striped">
								<tr>
									<th>SpaltenId</th>
									<th>Spaltennr</th>
									<th>Ordnung</th>
									<th>Titel</th>
									<th>Name</th>
									<th>Typ</th>
									<th>Auswahl</th>
									<th>Inhalt</th>
									<!-- 
									<th>Id</th>
									<th>Intervalle</th>
									<th>Konfiguration</th>
									 -->
									<th class="text-center">Bearbeiten</th>
									<th class="text-center">Entfernen</th>
								</tr>
								<tr class="align-middle" th:each="templateSpalte : ${template.templateSpalten}">
									<td><span th:text="${templateSpalte.spalte.id}"></span></td>
									<td><span th:text="${templateSpalte.spaltennr}"></span></td>
									<td><span th:text="${templateSpalte.ordnung}"></span></td>
									<td><span th:text="${#strings.abbreviate(templateSpalte.spalte.titel,15)}"></span></td>
									<td><span th:text="${templateSpalte.spalte.name}"></span></td>
									<td><span th:text="${templateSpalte.spalte.typ}"></span></td>
									<td><span th:text="${templateSpalte.spalte.auswahl}"></span></td>
									<td><span th:text="${#strings.abbreviate(templateSpalte.spalte.inhalt,10)}"></span></td>
									<!-- 
									<td><span th:text="${templateSpalte.id}"></span></td>
									<td><span th:text="${templateSpalte.spalte.intervalle}"></span></td>
									<td><span th:text="${templateSpalte.spalte.config}"></span></td>
									 -->
									<td class="text-center">
										<a class="btn btn-sm btn-warning"
											th:href="@{/datentemplate/{id}/bearbeiten/{templateSpalteId}(id=${template.id},templateSpalteId=${templateSpalte.id})}">
											<i class="bi-pencil"></i>
										</a>
									</td>
									<td class="text-center">
										<a class="btn btn-sm btn-danger"
											th:href="@{/datentemplate/{id}/entfernen/{templateSpalteId}#auswaehlen(id=${template.id},templateSpalteId=${templateSpalte.id})}">
											<i class="bi-x"></i>
										</a>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table class="table table-striped">
								<tr>
									<th>Id</th>
									<th>Titel</th>
									<th>Name</th>
									<th>Typ</th>
									<th>Auswahl</th>
									<th>Inhalt</th>
									<!-- 
									<th>Intervalle</th>
									<th>Konfiguration</th>
									 -->
									<th class="text-center">Auswählen</th>
								</tr>
								<tr class="align-middle" th:each="spalte : ${alleSpalten}">
									<td><span th:text="${spalte.id}"></span></td>
									<td><span th:text="${#strings.abbreviate(spalte.titel,15)}"></span></td>
									<td><span th:text="${spalte.name}"></span></td>
									<td><span th:text="${spalte.typ}"></span></td>
									<td><span th:text="${spalte.auswahl}"></span></td>
									<td><span th:text="${#strings.abbreviate(spalte.inhalt,15)}"></span></td>
									<!-- 
									<td><span th:text="${spalte.intervalle}"></span></td>
									<td><span th:text="${spalte.config}"></span></td>
									 -->
									<td class="text-center">
										<a class="btn btn-sm btn-primary"
											th:href="@{/datentemplate/{id}/zuordnen/{spalteId}#auswaehlen(id=${template.id},spalteId=${spalte.id})}">
											<i class="bi-check"></i>
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>

		</div>
	</body>
</html>
